<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Product</title>
</head>
<body>
<form th:action="@{/product/create}" method="post" th:object="${product}">
    <table>
        <tr>
            <td>Id:</td>
            <td><input type="text" th:field="*{id}"></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Quantity:</td>
            <td><input type="text" th:field="*{quantity}"></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="text" th:field="*{price}"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" th:field="*{email}"></td>
        </tr>
        <tr>
            <td>Category</td>
            <td>
                <select th:field="*{category.categoryId}">
                    <option th:each="c:${categories}"  th:text="${c.categoryName}"
                    th:value="${c.categoryId}"
                    ></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Date Release</td>
            <td><input type="text" th:field="*{dateRelease}" placeholder="dd/MM/yyyy"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"></td>
            <td><input type="reset" value="Reset"></td>
        </tr>
    </table>
</form>
</body>
</html>