<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Product</title>
</head>
<body>
    <table th:object="${product}">
        <tr>
            <td>Id:</td>
            <td th:text="*{id}"></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td th:text="*{name}"></td>
        </tr>
        <tr>
            <td>Quantity:</td>
            <td th:text="*{quantity}"></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td th:text="*{price}"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td th:text="*{email}"></td>
        </tr>
        <tr>
            <td>Category</td>
            <td th:text="*{category.categoryName}">
            </td>
        </tr>
        <tr>
            <td>Date Release</td>
            <td th:text="*{#dates.format(dateRelease,'dd/MM/yyyy')}"></td>
        </tr>
    </table>
      <a th:text="|Back to main menu|" th:href="@{/product/list}"></a>
</body>
</html>