<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table th:object="${vegetable}">
    <tr>
        <td>ID:</td>
        <td th:text="*{id}"></td>
    </tr>
    <tr>
        <td>Name:</td>
        <td th:text="*{name}"></td>
    </tr>
    <tr>
        <td>Weight</td>
        <td th:text="*{weight}"></td>
    </tr>
    <tr>
        <td>Price</td>
        <td th:text="${#numbers.formatCurrency(vegetable.price)}"></td>
    </tr>
    <tr>
        <td>Import Day</td>
        <td th:text="${#dates.format(vegetable.importDay,'dd/MM/yyyy')}"></td>
    </tr>
    <tr>
        <td>Type</td>
        <td th:text="${vegetable.type.nameType}"></td>
    </tr>
</table>
<a th:text="|Back to list|" th:href="list"></a>
</body>
</html>