<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Weight</th>
        <th>Price</th>
        <th>Import Day</th>
        <th>Type</th>
        <th>Action</th>
    </tr>
    <tr th:each=" p: ${vegetables}" th:object="${p}">
           <td th:text="*{id}"></td>
           <td th:text="*{name}"></td>
           <td th:text="*{weight}"></td>
           <td th:text="*{#numbers.formatCurrency(price)}"></td>
           <td th:text="*{#dates.format(importDay,'dd/MM/yyyy')}"></td>
           <td th:text="*{type.nameType}"></td>
        <td>
            <a th:href="@{detail/{id}(id=*{id})}"> Detail</a>
            <a th:href="@{update(id = *{id})}">Update</a>
        </td>
    </tr>
</table>
</body>
</html>