<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Create</title>
</head>
<body>
<h1>Update vegetable</h1>
<form th:action="@{update}" method="post" th:object="${vegetable}">
    <table>
        <tr>
            <td>ID</td>
            <td><input type="text" th:field="*{id}"></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Weight</td>
            <td><input type="text" th:field="*{weight}"></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input type="text" th:field="*{price}"></td>
        </tr>
        <tr>
            <td>Import Day</td>
            <td><input type="text" th:field="*{importDay}" placeholder="dd/MM/yyyy"></td>
        </tr>
        <tr>
            <td>Type</td>
            <td><select th:field="*{type.idType}">
                <option th:each="t:${types}" th:value="${t.idType}" th:text="${t.nameType}"
                        th:selected="${vegetable.type.idType == t.idType}"></option>
            </select></td>
        </tr>
        <tr>
            <td><input type="reset" value="Reset"></td>
            <td><input type="submit" value="Update"></td>
        </tr>
    </table>

</form>
</body>
</html>