<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Product</title>
</head>
<body>
<form th:action="@{/song/create}" method="post" th:object="${song}" novalidate="novalidate" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Id:</td>
            <td><input type="text" th:field="*{id}"></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Author:</td>
            <td><input type="text" th:field="*{author}"></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="text" th:field="*{price}"></td>
        </tr>
        <tr>
            <td>Category</td>
            <td>
                <select th:field="*{category.categoryId}">
                    <option th:each="c:${categories}"  th:text="${c.categoryName}"
                            th:value="${c.categoryId}"
                    ></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Url:</td>
            <td><input type="file" th:field="*{url}" th:value="*{url}"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"></td>
            <td><input type="reset" value="Reset"></td>
        </tr>
    </table>
</form>
</body>
</html>